{% extends "base.html" %}

{% block content %}

<h2>Here are all of the images that have been uploaded!</h2>
(most recently uploaded first)
<div id="imageContainer">
</div>
<script type="text/javascript">
    $.post("image_count",
         function(count) { 
            count = parseInt(count);
            for (var i = count; i > 0; i--) {
                $("#imageContainer").append("<div style='padding-top:10px'>" + 
                    "<a href='/image?num=" + i + "'>" +
                    "<img width='200' src='image_raw?num=" + i + "' /></a></div>");
            }
         }
    );
</script>
{% endblock %}
